<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:on="https://github.com/sebastien/ui.js">
  <head>
    <title>Block Component</title>
    <style>
      /*<![CDATA[*/
      /*]]>*/
    </style>
  </head>
  <body>
    <template id="CodeEditor">
      <div class="CodeEditor stack">
        <div class="-header row bd-t pad">
          <div class="-origin grow">
            <span class="FileName">markdown.js</span>
            <span class="ProgrammingLanguage">(JavaScript)</span>
          </div>
          <div class="-actions">
            <button class="default"><span class="icon">play_arrow</span> Run</button>
          </div>
        </div>
        <div class="CodeMirror grow bd-t bd-b"></div>
        <div class="-footer pad row">
          <small class="pill">No errors</small>
        </div>
      </div>

    </template>
    <script type="module">
      //<![CDATA[
      import {
        basicSetup,
        EditorView,
      } from "@codemirror/codemirror/dist/index.js";
      import { on } from "@ui.js";
      import { javascript } from "@codemirror/lang-javascript/dist/index.js";
      import { python } from "@codemirror/lang-python/dist/index.js";

      console.log("Code editor loaded");
      on({
        ["CodeEditor.Run"]: (event) => {
          console.log("Code editor running", {event})
        },
        ["CodeEditor.Create"]: (_, topic) => {
          for (const {effector,scope} of topic.flush()) {
            // NOTE: This is a bit awkward and should be wrapper a as higher level
            // component object.
            const parent = effector.query(".CodeMirror")[0];
            console.log("GOT CODE MIRROR", parent);
            const view = new EditorView({
              doc: "[0] * 100\n",
              extensions: [basicSetup, python()],
              parent,
            });
            scope.state.patch(scope.localPath, {view});
          }
          return false;
        }})
      //]]>
    </script>

  </body>
</html>
