<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:on="https://github.com/sebastien/ui.js"
>
  <head>
    <title>ModelViewer Component</title>
    <style>
      <![CDATA[
      .ModelViewer  {
      }
      ]]>
    </style>
  </head>
  <body>
    <section class="template" id="ModelViewer">
      <div class="ModelViewer"></div>
    </section>

    <script type="module">
      //<![CDATA[
      import * as THREE from "three";
      import { OBJLoader } from "three/addons/loaders/OBJLoader.js";
      import { OrbitControls } from "three/addons/controls/OrbitControls.js";
      import { on } from "@ui.js";

      async function createView(parent) {
        const renderer = new THREE.WebGLRenderer({ antialias: true });
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.outputEncoding = THREE.sRGBEncoding;

        const camera = new THREE.PerspectiveCamera(
          45,
          window.innerWidth / window.innerHeight,
          0.1,
          1000
        );

        // Next, set the camera position and add it to the scene.
        camera.position.z = 1.5;
        camera.position.x = 1.5;
        camera.position.y = 1.5;

        const scene = new THREE.Scene();
        scene.background = new THREE.Color(0xfffef7);
        scene.add(camera);

        /*
        const directionalLight = new THREE.DirectionalLight(0xffffff, 2);
        directionalLight.position.set(0, 0, 2);
        scene.add(directionalLight);
        */

        // Create a grid resembling a cutting desk mat
        const grid = new THREE.GridHelper(10, 10, 0x808080, 0xa0a0a0);
        grid.position.y = 0;
        scene.add(grid);

        // Add a point light for better shading
        const light = new THREE.PointLight(0xfdec9d, 1, 100);
        light.position.set(5, 5, 5);
        scene.add(light);

        // Add ambient light for more even lighting
        const ambientLight = new THREE.AmbientLight(0x304e7c);
        scene.add(ambientLight);

        const material = new THREE.MeshStandardMaterial({
          color: 0x1bb794,
          roughness: 0.351,
          metalness: 0.143,
        });

        const animate = () => {
          controls.update();
          renderer.render(scene, camera);
          requestAnimationFrame(animate);
        };

        const controls = new OrbitControls(camera, renderer.domElement);
        const loader = new OBJLoader();
        loader.load(
          "/data-gearlike.obj",
          (o) => {
            o.traverse((_) => {
              if (_.isMesh) {
                _.material = material;
              }
            });
            const box = new THREE.Box3().setFromObject(o);
            const size = new THREE.Vector3();
            box.getSize(size);
            const maxDimension = Math.max(size.x, size.y, size.z);
            o.scale.divideScalar(maxDimension);

            box.getSize(size);
            o.position.y += size.y / 2 / maxDimension;

            const center = new THREE.Vector3();
            box.getCenter(center);
            controls.target.copy(center);

            scene.add(o);
            animate();
          },
          (_) => console.log("Loading", _),
          (_) => console.error("Error", _)
        );

        // Finally, add the renderer to the document and render the scene.
        renderer.setSize(window.innerWidth, window.innerHeight);
        parent.appendChild(renderer.domElement);
        renderer.render(scene, camera);

        window.addEventListener("resize", () => {
          // Update the size of the renderer when the parent element changes size
          console.log("SET SIZE", [parent.clientWidth, parent.clientHeight]);
          renderer.setSize(parent.clientWidth, parent.clientHeight);
          renderer.render(scene, camera);
        });
      }
      on({
        ["ModelViewer.Mount"]: (_, topic) => {
          for (const { node, effect, scope } of topic.flush()) {
            // NOTE: This is a bit awkward and should be wrapper a as higher level
            // component object.
            const parent = effect.query(".ModelViewer")[0];
            createView(parent);
          }
          return false;
        },
      });

      //]]>
    </script>
  </body>
</html>
